{{!-- about.hbs --}}
{{!< layouts/main }}

<section class="about-section py-5">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0">
        <div class="about-img animate__animated animate__fadeInLeft">
          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/ee/X_Games_logo.svg/1200px-X_Games_logo.svg.png" alt="X Games Logo" class="img-fluid img-fluid mt-4 w-75" style="opacity: 0.8">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-text bg-glass animate__animated animate__fadeInRight">
          <h2 class="mb-3 texto-borde">Bienvenido al Torneo de Skate de Santiago</h2>
          <p class="texto-borde">Este evento, organizado por la Municipalidad de Santiago en colaboración con los X Games, busca impulsar el nivel deportivo de los jóvenes skaters que aspiran a representar a Chile en la próxima edición de los X Games.</p>
          <p class="texto-borde">Únete a nuestra comunidad de apasionados del skate y aprovecha esta plataforma única para mostrar tu talento y progresar en el deporte. Regístrate y mantente al tanto del estado de tu solicitud a través de nuestro sitio web diseñado específicamente para apoyar tu camino hacia el éxito.</p>
          <img src="https://www.munistgo.cl/wp-content/uploads/2019/12/stgo-standar.svg" alt="Municipality of Santiago" class="municipality-logo img-fluid mt-4">
        </div>
      </div>
    </div>
  </div>
</section>