{{!-- home.hbs --}}
{{!< layouts/main }}

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4 text-center">Bienvenido al Skate Park</h1>
      <p class="lead text-center">Únete a nuestra comunidad de apasionados del skate.</p>
    </div>
  </div>
  <!-- ... -->
</div>
