{{!< layouts/main }}

<div class="container mt-5 w-50">
  <h1 class="text-center mb-4">Tu Perfil</h1>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form id="profileForm" action="/api/skaters/" method="PUT" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Correo Electrónico (no puede ser cambiado)</label>
          <input type="email" class="form-control" id="email" name="email"  disabled>
        </div>
        <div class="mb-3">
          <label for="anos_experiencia" class="form-label">Años de Experiencia</label>
          <input type="number" class="form-control" id="anos_experiencia" name="anos_experiencia"  required>
        </div>
        <div class="mb-3">
          <label for="especialidad" class="form-label">Especialidad</label>
          <input type="text" class="form-control" id="especialidad" name="especialidad"  required>
        </div>
        <div class="mb-3">
          <label for="foto" class="form-label">Foto de Perfil (opcional)</label>
          <input type="file" class="form-control" id="foto" name="photo">
          <div class="w-25 mt-3 mx-auto" >
            <img id="currentPhoto" src="" alt="Tu foto actual" class="img-thumbnail mt-3">
          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Nueva Contraseña (opcional)</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary mb-5"><i class="bi bi-pencil-square me-1"></i>Actualizar</button>
        <button type="button" id="deleteProfile" class="btn btn-secondary mb-5"><i class="bi bi-trash3 me-1"></i>Eliminar</button>
          </div>
      </form>
    </div>
  </div>
</div>
