{{!< layouts/main }}
 
<div class="card-glass container mt-5 w-50">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="mb-3">Registro de Skater</h2>
      <form action="/api/skaters/register" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3">
          <label for="foto" class="form-label">Foto de Perfil</label>
          <input type="file" class="form-control" id="foto" name="photo" required>
        </div>
        <div class="mb-3">
          <label for="especialidad" class="form-label">Especialidad</label>
          <input type="text" class="form-control" id="especialidad" name="especialidad" required>
        </div>
        <div class="mb-3">
          <label for="anos_experiencia" class="form-label">Años de Experiencia</label>
          <input type="number" class="form-control" id="anos_experiencia" name="anos_experiencia" min="0" required>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Registrar</button>
      </form>
    </div>
  </div>
</div>
