<!-- views/partials/footer.hbs -->
{{!-- <footer>
  <p>&copy; 2024 Skate Park App  |  Todos los derechos e izquierdos reservados para DesafioLatam®</p>
</footer> --}}
<!-- Footer -->
<footer class="bg-dark text-white py-2">
  <div class="container d-flex justify-content-between align-items-center flex-wrap">
    
    <!-- Logos de patrocinadores -->
    <div class="d-flex justify-content-start">
      <img src="https://desafiolatam.com/assets/images/home/logo-academia-ne.png" alt="DesafioLatam" class="img-fluid mr-2" style="width: 150px;">
      <img src="https://desafiolatam.com/assets/images/home/logo-sence.png" alt="SENCE" class="img-fluid" style="width: 150px;">
    </div>

    <!-- Derechos reservados -->
    <div class="my-2 my-lg-0">
      &copy; 2024 Skate Park App | Todos los derechos e izquierdos reservados para DesafioLatam®
    </div>

    <!-- Enlaces a redes sociales -->
    <div class="d-flex justify-content-end">
      <a href="https://www.linkedin.com/in/guido-perez-zelaya-3b6a32113/" class="btn btn-outline-light btn-floating m-1 custom-hover" role="button">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://github.com/gperzal" class="btn btn-outline-light btn-floating m-1 custom-hover" role="button">
        <i class="bi bi-github"></i>
      </a>
    </div>
    
  </div>
</footer>
